.device:root {
  font-size: 16px;
}

/** {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/
html {
  text-align: center;
  /* remove after adding SEMANTIC to main section */
}

body {
  background-repeat: no-repeat !important;
  background-size: 100vw 100% !important;
  min-height: 100vh;
  overflow-y: scroll;
}

body.homepage {
  background-image: url(img/bg/0.jpg);
  background-color: #1b1c1d !important;
}

/*
███████ ████████ ██    ██ ██      ███████
██         ██     ██  ██  ██      ██
███████    ██      ████   ██      █████
     ██    ██       ██    ██      ██
███████    ██       ██    ███████ ███████
*/
.segment {
  border-radius: 0px !important;
}

nav .menu>.item,
footer p {
  font-family: 'Comfortaa', cursive !important;
}

nav .menu>.item {
  border-radius: 3px !important;
  font-size: 1.4rem;
}

main>.quote-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}

.quote-wrapper>p {
  color: rgb(238, 229, 119);
  font-family: 'Bodoni Moda', serif;
  font-size: 2.6rem;
  font-style: italic;
  letter-spacing: 0.2rem;
}

.quote-wrapper p > span {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  letter-spacing: 0.4rem;
  padding-top: 2vh;
}

.italics {
  font-style: italic;
}


/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
.quote-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-evenly;
  margin: 20vh 0;
}

.quote-wrapper>p {
  margin: 3vh 6vw 0 !important;
}

button {
  margin: 3vh !important;
}

img.github {
  height: 60px;
  width: 60px;
}

/*
 █████  ██████   ██████  ██    ██ ████████
██   ██ ██   ██ ██    ██ ██    ██    ██
███████ ██████  ██    ██ ██    ██    ██
██   ██ ██   ██ ██    ██ ██    ██    ██
██   ██ ██████   ██████   ██████     ██
*/

.welcome {
  margin: 100px 50px 100px;
}

h2.ui.header.block {
  /*margin-bottom: 50px;*/
}

div.ui.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list > .item {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  margin: 100px;
}

.list > a.item:hover {
  cursor: default;
}

.content .header {
  margin-right: 13px !important;
}

i.icon {
  padding-right: 0 !important;
}



a.item > i.html5 {
  color: #F16529 !important;
}
a.item > i.html5:hover {
  color: #E44D26 !important;
}


a.item > i.css3 {
  color: #2965f1 !important;
}
a.item > i.css3:hover {
  color: #264de4 !important;
}


a.item > i.js {
  color: #f0db4f !important; 
}
a.item > i.js:hover {
  color: #E8C72F !important;
}




/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
.footer {
  /*height: 30vh;*/
  width: 100%;
}

.fixed {
  bottom: 0;
  position: fixed;
}

.about-footer {
  margin-top: 100px;
}



/*
 █████  ██████   ██████  ██    ██ ████████
██   ██ ██   ██ ██    ██ ██    ██    ██
███████ ██████  ██    ██ ██    ██    ██
██   ██ ██   ██ ██    ██ ██    ██    ██
██   ██ ██████   ██████   ██████     ██
*/

main ul {
}

main li {
  list-style: square;

}


/*
███    ███ ███████ ██████  ██  █████
████  ████ ██      ██   ██ ██ ██   ██
██ ████ ██ █████   ██   ██ ██ ███████
██  ██  ██ ██      ██   ██ ██ ██   ██
██      ██ ███████ ██████  ██ ██   ██
*/
@media screen and (min-width: 1301px) {}

/*
 ██     ██████       ██████       ██████      ██████  ██   ██
███          ██     ██  ████     ██  ████     ██   ██  ██ ██
 ██      █████      ██ ██ ██     ██ ██ ██     ██████    ███
 ██          ██     ████  ██     ████  ██     ██       ██ ██
 ██     ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1300px) and (orientation: portrait) {}

@media screen and (max-width: 1300px) and (orientation: landscape) {}

/*
 ██      ██████       ██████       ██████      ██████  ██   ██
███     ██  ████     ██  ████     ██  ████     ██   ██  ██ ██
 ██     ██ ██ ██     ██ ██ ██     ██ ██ ██     ██████    ███
 ██     ████  ██     ████  ██     ████  ██     ██       ██ ██
 ██      ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1001px) {}

@media screen and (max-width: 1001px) and (orientation: portrait) {}

@media screen and (max-width: 1001px) and (orientation: landscape) {}

@media screen and (max-height: 700px) and (max-width: 1000px) and (orientation: landscape) {}

/*
 ██████  ██   ██  ██████      ██████  ██   ██
██       ██   ██ ██  ████     ██   ██  ██ ██
███████  ███████ ██ ██ ██     ██████    ███
██    ██      ██ ████  ██     ██       ██ ██
 ██████       ██  ██████      ██      ██   ██
*/
@media screen and (max-width: 700px) and (orientation: landscape) {}

/*
██   ██      █████       ██████      ██████  ██   ██
██   ██     ██   ██     ██  ████     ██   ██  ██ ██
███████      █████      ██ ██ ██     ██████    ███
     ██     ██   ██     ████  ██     ██       ██ ██
     ██      █████       ██████      ██      ██   ██
*/
@media screen and (max-width: 480px) {}

/*
██████      ███████      ██████      ██████  ██   ██
     ██          ██     ██  ████     ██   ██  ██ ██
 █████          ██      ██ ██ ██     ██████    ███
     ██        ██       ████  ██     ██       ██ ██
██████         ██        ██████      ██      ██   ██
*/
@media screen and (max-width: 370px) {}