.device:root {
  font-size: 16px;
}

html {
  text-align: center;
}

body {
  background-repeat: no-repeat !important;
  background-size: 100vw 100% !important;
  min-height: 100vh;
  overflow-y: scroll;
}

body.homepage {
  background-color: #1b1c1d !important;
  background-color: rgba(0, 0, 0, 0.95) !important;
}

main {
  overflow: hidden;
}

.main-image {
  /*background-color: #1b1c1d !important;*/
  /*background-color: rgba(0, 0, 0, 0.85) !important;*/
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  height: 90vh;
  position: relative;
  width: 100%;
}

/*
███████ ████████ ██    ██ ██      ███████
██         ██     ██  ██  ██      ██
███████    ██      ████   ██      █████
     ██    ██       ██    ██      ██
███████    ██       ██    ███████ ███████
*/
.segment {
  border-radius: 0px !important;
}

nav .menu>.item {
  font-family: 'Comfortaa', cursive !important;
}

nav .menu>.item {
  border-radius: 3px !important;
  font-size: 1.4rem;
}

main>.quote-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 12vh;
  width: 100%;
}

.quote-wrapper>p {
  color: rgb(238, 229, 119);
  font-family: 'Bodoni Moda', serif;
  font-size: 2.6rem;
  font-style: italic;
  letter-spacing: 0.2rem;
}

.quote-wrapper p>span {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  letter-spacing: 0.4rem;
  padding-top: 2vh;
}

.italics {
  font-style: italic;
}

h1.hello {
  font-size: 3em;
}

h1.source {
  /*height: 10vh;*/
  /*margin: 10vw;*/
}

/*
██  ██████  ██████  ███    ██ ███████
██ ██      ██    ██ ████   ██ ██
██ ██      ██    ██ ██ ██  ██ ███████
██ ██      ██    ██ ██  ██ ██      ██
██  ██████  ██████  ██   ████ ███████
*/
i:hover {
  animation: heartbeat 500ms;
  animation-iteration-count: 2;
  animation-timing-function: ease;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1.2);
  }

  30% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1.0);
  }

  70% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(0.8);
  }

  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
.quote-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-evenly;
  margin: 20vh 0;
}

.quote-wrapper>p {
  margin: 3vh 6vw 0 !important;
}

button {
  margin: 3vh !important;
}

img.github {
  height: 60px;
  width: 60px;
}

.main-source-wrapper {
  margin-top: 25vh;
}

.github-wrapper {
  margin-top: 5vh;
}

/*
 █████  ██████   ██████  ██    ██ ████████
██   ██ ██   ██ ██    ██ ██    ██    ██
███████ ██████  ██    ██ ██    ██    ██
██   ██ ██   ██ ██    ██ ██    ██    ██
██   ██ ██████   ██████   ██████     ██
*/
.welcome {
  margin: 5vh 2vh 7vh;
}

h2.ui.header.block {
  /*margin-bottom: 50px;*/
}

div.ui.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list>.item {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  margin: 100px;
}

.list>a.item:hover {}

.content .header {
  margin-right: 13px !important;
}

i.icon {
  padding-right: 0 !important;
}

a>i.html5 {
  color: #F16529 !important;
}

a>i.html5:hover {
  color: #E44D26 !important;
}

a>i.css3 {
  color: #2965f1 !important;
}

a>i.css3:hover {
  color: #264de4 !important;
}

a>i.js {
  color: #f0db4f !important;
}

a>i.js:hover {
  color: #E8C72F !important;
}

/*
 █████  ██████   ██████  ██    ██ ████████
██   ██ ██   ██ ██    ██ ██    ██    ██
███████ ██████  ██    ██ ██    ██    ██
██   ██ ██   ██ ██    ██ ██    ██    ██
██   ██ ██████   ██████   ██████     ██
*/
main ul {}

main li {
  list-style: square;
}

/*
███    ███ ███████ ██████  ██  █████
████  ████ ██      ██   ██ ██ ██   ██
██ ████ ██ █████   ██   ██ ██ ███████
██  ██  ██ ██      ██   ██ ██ ██   ██
██      ██ ███████ ██████  ██ ██   ██
*/
@media screen and (min-width: 1301px) {}

/*
 ██     ██████       ██████       ██████      ██████  ██   ██
███          ██     ██  ████     ██  ████     ██   ██  ██ ██
 ██      █████      ██ ██ ██     ██ ██ ██     ██████    ███
 ██          ██     ████  ██     ████  ██     ██       ██ ██
 ██     ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1300px) and (orientation: portrait) {}

@media screen and (max-width: 1300px) and (orientation: landscape) {}

/*
 ██      ██████       ██████       ██████      ██████  ██   ██
███     ██  ████     ██  ████     ██  ████     ██   ██  ██ ██
 ██     ██ ██ ██     ██ ██ ██     ██ ██ ██     ██████    ███
 ██     ████  ██     ████  ██     ████  ██     ██       ██ ██
 ██      ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1001px) {}

@media screen and (max-width: 1001px) and (orientation: portrait) {}

@media screen and (max-width: 1001px) and (orientation: landscape) {}

@media screen and (max-height: 700px) and (max-width: 1000px) and (orientation: landscape) {}

/*
 ██████  ██   ██  ██████      ██████  ██   ██
██       ██   ██ ██  ████     ██   ██  ██ ██
███████  ███████ ██ ██ ██     ██████    ███
██    ██      ██ ████  ██     ██       ██ ██
 ██████       ██  ██████      ██      ██   ██
*/
@media screen and (max-width: 700px) and (orientation: landscape) {}

/*
██   ██      █████       ██████      ██████  ██   ██
██   ██     ██   ██     ██  ████     ██   ██  ██ ██
███████      █████      ██ ██ ██     ██████    ███
     ██     ██   ██     ████  ██     ██       ██ ██
     ██      █████       ██████      ██      ██   ██
*/
@media screen and (max-width: 480px) {}

/*
██████      ███████      ██████      ██████  ██   ██
     ██          ██     ██  ████     ██   ██  ██ ██
 █████          ██      ██ ██ ██     ██████    ███
     ██        ██       ████  ██     ██       ██ ██
██████         ██        ██████      ██      ██   ██
*/
@media screen and (max-width: 370px) {}